<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>metadata</key>
    <dict>
        <key>version</key>
		<string>2.1.0</string>
        <key>format</key>
        <integer>3</integer>
        <key>size</key>
        <string>{764.0,541.0}</string>
        <key>name</key>
        <string>Untitled</string>
        <key>textureFileName</key>
        <string>animation.png</string>
    </dict>
    <key>frames</key>
    <dict>
        <key>DiedToDown3.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{165.0,164.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{165.0,164.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{165.0,164.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{2.0,371.0},{165.0,164.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>DiedToRight2.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{150.0,177.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{150.0,177.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{150.0,177.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{297.0,2.0},{150.0,177.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>RunDown2.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{138.0,183.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{138.0,183.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{138.0,183.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{339.0,183.0},{138.0,183.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>RunDown3.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{133.0,171.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{133.0,171.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{133.0,171.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{451.0,2.0},{133.0,171.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>RunDown5.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{135.0,155.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{135.0,155.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{135.0,155.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{588.0,2.0},{135.0,155.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>RunDown6.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{133.0,157.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{133.0,157.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{133.0,157.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{487.0,361.0},{133.0,157.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>RunUp1.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{151.0,180.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{151.0,180.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{151.0,180.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{142.0,2.0},{151.0,180.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>SkillOneDown6.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{130.0,180.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{130.0,180.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{130.0,180.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{481.0,177.0},{130.0,180.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>SkillOneLeft1.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{134.0,160.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{134.0,160.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{134.0,160.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{349.0,370.0},{134.0,160.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>SkillThreeRight1.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{174.0,153.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{174.0,153.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{174.0,153.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{171.0,371.0},{174.0,153.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>SkillThreeRight6.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{154.0,173.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{154.0,173.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{154.0,173.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{181.0,186.0},{154.0,173.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>SkillTwoDown6.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{134.0,201.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{134.0,201.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{134.0,201.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{624.0,161.0},{134.0,201.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>SkillTwoLeft2.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{175.0,156.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{175.0,156.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{175.0,156.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{2.0,211.0},{175.0,156.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>SkillTwoUp6.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{136.0,205.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{136.0,205.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{136.0,205.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{2.0,2.0},{136.0,205.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
    </dict>
</dict>
</plist>
